@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-blue: #347ee7;
    --brand: #003e96;
    --white: #ffffff;
    --pink: #fd6c73;
    --yellow: #ffc107;
    --ocean: #1da599;
    --dark-gray: #212832;
    --light-gray: #E1E1E1;
    --sky-blue: #369abe;
    --lights-blue: #4f89db;
    
  }

.text-brand{
    color: var(--brand);
  }
  .bg-brand-light-blue{
    background-color: var(--light-blue);
  }
  .bg-brand{
    background-color: var(--brand);
  }
  .bg-brand-dual{
    background-color: var(--brand);
    color: white;
  }
  .bg-ocean{
   background-color: var(--ocean);
  }
