@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-blue: #347ee7;
    --brand: #003e96;
    --white: #ffffff;
    --pink: #fd6c73;
    --yellow: #ffc107;
    --ocean: #1da599;
    --dark-gray: #212832;
    --light-gray: #E1E1E1;
    --sky-blue: #369abe;
    --lights-blue: #4f89db;
    --grey-text: #6e7e96;
    
  }

.text-brand{
    color: var(--brand);
  }
  .bg-brand-light-blue{
    background-color: var(--light-blue);
  }
  .bg-brand{
    background-color: var(--brand);
  }
  .border-dark{
    border-top: 4px solid var(--brand);
  }
  .border-dark-bottom{
    border-bottom: 4px solid var(--brand);
  }
  .bg-brand-dual{
    background-color: var(--brand);
    color: white;
  }
  .bg-ocean{
   background-color: var(--ocean);
  }
  .text-grey{
    color: var(--grey-text);
  }
  @media print {
    /* Hide everything except the card */
    body * {
      visibility: hidden;
    }
  
    .card-to-print, .card-to-print * {
      visibility: visible;
    }
  
    .card-to-print {
      position: absolute;
      left: 0;
      top: 0;
      margin: auto;
      text-align: center;
    }
  
    /* Optional: Remove print button during print */
    .print-button {
      display: none;
    }
  }
  
  
  